# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/data
*.log
*.log.*

.env

config/database.yml

/coverage

# Ignore db for sqlite
cobra
cobra_test

# Ignore db dumps
*.data
*.data.gz
*.sql.gz

public/scoop.png
/public/assets/*

/.idea
*.iml

# Vite Ruby
/public/vite*
node_modules
# Vite uses dotenv and suggests to ignore local-only env files. See
# https://vitejs.dev/guide/env-and-mode.html#env-files
*.local
