.col-md-6
  - @overview_notices.each do |notice|
    .alert.alert-info #{notice}
  .card
    ul.list-group.list-group-flush
      - if @tournament.slug
        li.list-group-item
          .small.text-secondary Shortcode:
          | #{@tournament.slug} (
          = link_to tournament_url(@tournament.slug, request), tournament_url(@tournament.slug, request)
          | )

      li.list-group-item
        .small.text-secondary Date:
        | #{@tournament.date.strftime('%A, %B %e, %Y')}
        - if @tournament.registration_starts && @tournament.tournament_starts
          .small.text-secondary Registration & First Round Times:
          | #{@tournament.registration_starts} / #{@tournament.tournament_starts} #{@tournament.time_zone.nil? ? '' : " (#{@tournament.time_zone})"}
        - elsif @tournament.registration_starts
          .small.text-secondary Registration:
          | #{@tournament.registration_starts} #{@tournament.time_zone.nil? ? '' : " (#{@tournament.time_zone})"}
        - elsif @tournament.tournament_starts
          .small.text-secondary First Round:
          | #{@tournament.tournament_starts} #{@tournament.time_zone.nil? ? '' : " (#{@tournament.time_zone})"}

      li.list-group-item
        .small.text-secondary Organiser:
        | #{@tournament.user.nrdb_username} #{@tournament.organizer_contact.nil? ? 'no' : " – #{@tournament.organizer_contact}"}
      li.list-group-item
        .small.text-secondary Players:
        => pluralize(@players.count, 'active player')
        | (#{@dropped.count} dropped)
      li.list-group-item
        .small.text-secondary
          | QR Code:
        .row
          .col-sm-6
            = link_to qr_tournament_path(@tournament), :target => '_blank' do
              => fa_icon 'qrcode'
              | Open Printable QR Code