- if @tournament.rounds.any? || policy(@tournament).edit?
  .row.mt-3.dontprint
    .col-md-6
      table.table
        thead
          tr
            th Corp
            th Players
        tbody
          - @tournament.corp_counts.each do |id, count|
            tr
              td= render id
              td= count
    .col-md-6
      table.table
        thead
          tr
            th Runner
            th Players
        tbody
          - @tournament.runner_counts.each do |id, count|
            tr
              td= render id
              td= count
