.container
  .row.mb-3
    - if @tournament.nrdb_deck_registration?
      = render 'deck_selection'
    - else
      = render 'overview_card'

    .col-md-6
      .card
        .card-header
          .d-flex.justify-content-between
            h5.mb-0 My Registration Information
            span.float-right.dontprint
              - if @tournament.nrdb_deck_registration?
                a.mr-3 href="#" onclick='window.print(); event.preventDefault();'
                  => fa_icon 'print'
              = link_to tournament_path(@tournament), title: 'Cancel' do
                => fa_icon 'undo'
                span.d-none Cancel registration edits
        .card-body
          = simple_form_for @current_user_player, url: tournament_player_path(@tournament, @current_user_player) do |f|
            = render 'players/form', f: f
            .text-right.dontprint
              = button_tag type: :submit, class: 'btn btn-primary' do
                => fa_icon 'check'
                | Submit
      - if @tournament.nrdb_deck_registration? and not @current_user_player.decks_locked?
        .alert.alert-danger.mt-3 role=alert
          => fa_icon 'exclamation-triangle', class: 'mr-2'
          | Deck legality is not checked. Please ensure your decks are legal.

  - if @tournament.nrdb_deck_registration?
    .row#display_decks

  = render 'player_counts'
