.container
  .row
    = render 'overview_card'

    .col-md-6
      - if @tournament.registration_open? || @current_user_player
        - if @current_user_player
          .card
            .card-header
              .d-flex.justify-content-between
                h5.mb-0 My Registration Information
                - if @current_user_player.registration_locked?
                  - if @tournament.nrdb_deck_registration?
                    = link_to registration_tournament_path(@tournament), title: 'View', class: 'float-right' do
                      => fa_icon 'eye'
                      span.d-none View my registration information
                - else
                  = link_to registration_tournament_path(@tournament), title: 'Edit', class: 'float-right' do
                    => fa_icon 'pencil'
                    span.d-none Edit my registration information
            ul.list-group.list-group-flush
              li.list-group-item
                .small.text-secondary Name:
                | #{@current_user_player.name_with_pronouns}
              li.list-group-item
                .small.text-secondary Corp ID:
                = render @current_user_player.corp_identity_object
              li.list-group-item
                .small.text-secondary Runner ID:
                = render @current_user_player.runner_identity_object
              li.list-group-item
                .small.text-secondary First Round Bye:
                - if @current_user_player.first_round_bye
                  .badge.badge-success YES
                - else
                  .badge.badge-secondary NO
              - if @tournament.allow_streaming_opt_out?
                li.list-group-item
                  .small.text-secondary Swiss games can be streamed:
                  - unless @current_user_player.streaming_opt_out?
                    .badge.badge-success YES
                  - else
                    .badge.badge-secondary NO
        - else
          - if current_user
            .card.alert.alert-secondary
              - unless @current_user_dropped
                h5.card-title Register for this Event
                = simple_form_for :player, url: tournament_players_path(@tournament) do |f|
                  = render 'players/form', f: f, default_name: current_user.nrdb_username, new_registration: true
                  .text-right
                    = button_tag type: :submit, class: 'btn btn-primary' do
                      => fa_icon 'user-plus'
                      | Register
              - else
                h5.card-title Rejoin this Event
                - if @current_user_is_running_tournament
                  p
                    | You can re-instate yourself on the
                    =<> link_to tournament_players_path(@tournament) do
                      | Players
                    | tab.
                - else
                  p Talk to a Tournament Organiser to rejoin the event
          - else
            .card.alert.alert-warning
              .card-body
                h5.card-title Register for this Event
                p.mb-1 You must be logged in to register for this tournament:
                = link_to login_path(:return_to => request.path), class: 'alert-link' do
                  => fa_icon 'sign-in'
                  | Sign in
                p.mt-4.mb-1
                  | Don't have an account? Register with NetrunnerDB, then return to Cobra to login:
                = link_to 'https://netrunnerdb.com/register/', class: 'alert-link'
                  span.icon.icon-link
                  | &nbsp;Create NRDB account

  = render 'player_counts'
