<div class="col-12">
<div class="massive text-center">
<%= ::Temple::Utils.escape_html((['😢', '😣', '😱'].sample)) %>
</div></div><div class="col-12 mb-4">
<div class="text-center">Something went wrong</div>
</div>
