---
http_interactions:
  - request:
      method: get
      uri: https://netrunnerdb.com/api/2.0/private/decks
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Authorization:
          - Bearer a_token
    response:
      status:
        code: 200
        message:
      headers:
        content-type:
          - application/json
      body:
        encoding: UTF-8
        string: |
          {"version_number":"2.0","data":[
            {
              "id": 1455189,
              "uuid": "a277dce2-fb3f-476f-b8b2-56a4fb409166",
              "date_creation": "2022-05-22T11:13:17+00:00",
              "date_update": "2022-05-22T11:13:17+00:00",
              "name": "The Palantir - 1st/Undefeated @ Silver Goblin Store Champs",
              "description": "",
              "mwl_code": "standard-ban-list-21-10",
              "cards": {
                  "10023": 3,
                  "10042": 3,
                  "10043": 1,
                  "10064": 3,
                  "11008": 1,
                  "11024": 1,
                  "21105": 3,
                  "22014": 2,
                  "26004": 1,
                  "26010": 1,
                  "26012": 2,
                  "26013": 2,
                  "26015": 3,
                  "26074": 3,
                  "26075": 3,
                  "26077": 2,
                  "26082": 1,
                  "26085": 1,
                  "30007": 2,
                  "30011": 1,
                  "30030": 3,
                  "31005": 1,
                  "31021": 1,
                  "32002": 2
              },
              "tags": ""
            },
            {
              "id": 763461,
              "uuid": "c3755b09-1549-4f66-856a-6ea9d18cf6c9",
              "date_creation": "2016-09-02T21:54:37+00:00",
              "date_update": "2016-09-02T21:54:37+00:00",
              "name": "Ben Ni Jammy HB \"Always Beta Test\" (UK Nationals '16 14th)",
              "description": "",
              "mwl_code": "NAPD_MWL_1.1",
              "cards": {
                "10027": 2,
                "10087": 1,
                "10103": 2,
                "01054": 1,
                "01055": 3,
                "01058": 1,
                "01059": 3,
                "01062": 3,
                "01090": 1,
                "01110": 3,
                "02013": 2,
                "02051": 3,
                "02110": 3,
                "04015": 3,
                "04040": 3,
                "04090": 2,
                "06026": 1,
                "06048": 1,
                "06049": 2,
                "06061": 3,
                "07027": 2,
                "08033": 3,
                "09026": 2
              },
              "tags": "haas-bioroid"
            }
          ],"total":2,"success":true}
    recorded_at: Sat, 25 Mar 2023 22:12:03 GMT
recorded_with: VCR 3.0.3
