ruby:
  @the_shadow_corp_nrdb_code = '00005'
  @the_masque_runner_nrdb_code = '00006'
- if @decks
  .row.mb-3.dontprint
    .col
      .card
        .card-header style='border: 0'
          | Please select from your decks below.
          a< href="https://netrunnerdb.com/en/decks" target="_blank" See your decks in NetrunnerDB.
          |< Refresh the page to reload from NetrunnerDB.
  .row.mb-3.dontprint
    ul.d-none#nrdb_decks
      - @decks.each do |deck|
        li.list-group-item [
          id='nrdb_deck_#{deck[:uuid]}'
          data-deck='#{deck.to_json}'
          onclick='selectDeck("#{deck[:uuid]}")'
          ]
          p.mb-1= deck[:name]
    .col-md-6
      .card
        ul.list-group.list-group-flush#nrdb_corp_selected style='border-bottom: 0'
          li.list-group-item.selected-deck
            .selected-deck-identity style="background-image:url(https://static.nrdbassets.com/v1/small/#{@the_shadow_corp_nrdb_code}.jpg)"
            p.mb-1 No corp selected
        ul.list-group.list-group-flush.overflow-auto#nrdb_corp_decks style='height: 24em'
          .d-flex.align-items-center.m-2
            .spinner-border.m-auto
    .col-md-6
      .card
        ul.list-group.list-group-flush#nrdb_runner_selected style='border-bottom: 0'
          li.list-group-item.selected-deck
            .selected-deck-identity style="background-image:url(https://static.nrdbassets.com/v1/small/#{@the_masque_runner_nrdb_code}.jpg)"
            p.mb-1 No runner selected
        ul.list-group.list-group-flush.overflow-auto#nrdb_runner_decks style='height: 24em'
          .d-flex.align-items-center.m-2
            .spinner-border.m-auto
.row#display_decks
