<div class="col-12" data-tournament="<%= ::Temple::Utils.escape_html((@tournament.id)) %>" id="standings_anchor">

</div><% _slim_controls1 = content_for :head do %><% _slim_controls2 = ''; 
; _slim_controls2 << ((::Temple::Utils.escape_html((vite_typescript_tag 'standings', 'data-turbolinks-track': 'reload'))).to_s); 
; _slim_controls2 %><% end %><%= ::Temple::Utils.escape_html((_slim_controls1)) %>
