.players
  .manual_seed
    width: 80px

.identities_form
  .form-group, .input
    display: block

    .awesomplete
      display: block

  .form-group
    margin-bottom: 0.75rem

.form-inline
  .identities_form
    .form-group, .input
      display: inline-block
      margin-bottom: 0

      &:not(:last-child)
        margin-right: 0.5rem
