doctype html
html
  head
    title Cobra
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = favicon_link_tag 'favicon.ico'

  body
    nav.navbar.navbar-expand-lg.fixed-top.navbar-dark.dontprint
      .container
        = link_to "Cobra", root_path, class: 'navbar-brand'
        button.navbar-toggler type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
          span.navbar-toggler-icon
        #navbarNav.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            li.nav-item= link_to help_path, class: 'nav-link text-light' do
              => fa_icon 'life-ring'
              | How to
            - if user_signed_in?
              li.nav-item.dropdown
                a.nav-link.dropdown-toggle.text-light href="#" id="signedInDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                  => fa_icon 'user'
                  = current_user.nrdb_username
                div.dropdown-menu.dropdown-menu-right aria-labelledby="signedInDropdown"
                  = link_to new_tournament_path, class: 'dropdown-item' do
                    => fa_icon 'plus'
                    | Create tournament
                  = link_to my_tournaments_path, class: 'dropdown-item' do
                    => fa_icon 'trophy'
                    | My tournaments
                  div.dropdown-divider
                  = link_to logout_path, class: 'dropdown-item' do
                    => fa_icon 'sign-out'
                    | Sign out
            - else
              li.nav-item= link_to login_path, class: 'nav-link' do
                => fa_icon 'sign-in'
                | Sign in
    .container
      - if @tournament
        .row.dontprint
          .col-md
            h1= @tournament.name
          - if @tournament.stream_url.present?
            .col-auto
              = link_to @tournament.stream_url, class: 'stream-link', target: '_blank' do
                => fa_icon 'video-camera'
          .col.col-md-auto.mb-md-0.mb-2
            = link_to timer_tournament_path(@tournament)
              = render 'rounds/round_timer', round: @tournament.rounds.last
        ul.nav.nav-tabs.dontprint
          - if policy(@tournament).show?
            li.nav-item= link_to tournament_path(@tournament), class: "nav-link #{'active' if controller_name == 'tournaments' && action_name == 'show'}" do
              => fa_icon 'trophy'
              | Tournament
          - if policy(@tournament).edit?
            li.nav-item= link_to tournament_players_path(@tournament), class: "nav-link #{'active' if controller_name == 'players' && action_name == 'index'}" do
              => fa_icon 'users'
              | Players
          - if policy(@tournament).show?
            li.nav-item= link_to tournament_rounds_path(@tournament), class: "nav-link #{'active' if controller_name == 'rounds' || controller_name == 'pairings'}" do
              => fa_icon 'calendar-check-o'
              | Pairings
          - if policy(@tournament).show?
            li.nav-item= link_to standings_tournament_players_path(@tournament), class: "nav-link #{'active' if controller_name == 'players' && action_name == 'standings'}" do
              => fa_icon 'list-ol'
              | Standings
          - if policy(@tournament).edit?
            li.nav-item= link_to edit_tournament_path(@tournament), class: "nav-link #{'active' if controller_name == 'tournaments' && action_name != 'show'}" do
              => fa_icon 'cog'
              | Settings
      - if alert
        .row.py-3
          .col-12
            .alert.alert-danger= alert
      .row.py-3.main-content
        = yield
    .footer.dontprint
      .container
        .row
          .col-3.nav-item
            => link_to 'Support NSG on Patreon', 'https://www.patreon.com/join/NullSignalGames'
          .col-6.nav-item.text-center
           | 🐍 Maintained by <a href="https://nullsignal.games">Null Signal Games</a>. Created by Johno. 🐍
          .col-3.nav-item.text-right
            = link_to "v#{Rails.configuration.version}", 'https://github.com/project-nisei/cobra/releases', class: 'text-muted'
